body {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
  font-family: Arial;
}
.row {
  clear: both;
  display: block;
  width: 310px;
  margin: 0 auto;
}
.box {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid black;
  font-size: 80px;
  line-height: 100px;
  cursor: pointer;
}
#message {
  font-size: 30px;
  margin-top: 20px;
}
#btn {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
}
